@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://i.pinimg.com/736x/66/c1/10/66c110da9f4c1bfe2d160ebc35c27493.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}
